<footer id="footer" class="site-footer standard" role="contentinfo">
    <div class="container">
        <div class="site-info">
              <div class="d-flex flex-column flex-md-row">
                  <div class="p-2">5 Pelly Road, Whitehorse</div>
                  <div class="p-2"><a href="tel:+18673329173">+1 867 332 9173</a></div>
                  <div class="p-2"><a href="mailto:michael@yukonwoodcraft.ca">michael@yukonwoodcraft.ca</a></div>
              </div>
        </div>
        <nav class="footer-socials" role="navigation" aria-label="Footer Social Links Menu">
            <ul id="social-media-footer" class="social-links-menu">
                <li><a href="https://www.facebook.com/yukonwoodcraft"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/yukonwoodcraft"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>
