<footer id="footer" class="site-footer standard" role="contentinfo">
    <div class="container">
        <div class="site-info">
              <div class="d-flex flex-column flex-md-row">
                  <div class="p-2">5 Pelly Road, Whitehorse</div>
                  <div class="p-2"><a href="tel:+18673329173">+1 867 332 9173</a></div>
                  <div class="p-2"><a href="mailto:michael@yukonwoodkraft.ca">michael@yukonwoodkraft.ca</a></div>
              </div>
        </div>
    </div>
</footer>
