{{ define "main" }}
<article class="page">
    <div class="entry-content">

        <div class="container m-t-32">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-block">
                        <h1 class="block-size-1">
                            Have a project in mind that you would like to get realized? Please get in touch.
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row m-t-25">
                <div class="col-sm-4 text-center">
                    <div class="content-box-wrap">
                        <div class="single-image m-b-15">
                            <figure class="figure">
                                <img src="/images/other/mobile.png" alt="Mobile">
                            </figure>
                        </div>
                        <div class="content-box text-center">
                            <h6>+1 (867) 332 9173</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="content-box-wrap">
                        <div class="single-image m-b-15">
                            <figure class="figure">
                                <img src="/images/other/email.png" alt="Email">
                            </figure>
                        </div>
                        <div class="content-box">
                            <h6>info@yukonwoodkraft.ca</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="content-box-wrap">
                        <div class="single-image m-b-15">
                            <figure class="figure">
                                <img src="/images/other/pin.png" alt="Address">
                            </figure>
                        </div>
                        <div class="content-box">
                            <h6>5 Pelly Road, Whitehorse, Y1A 4L9</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-80 m-b-100">
                <div class="col-sm-12">
                    <div class="map-block">
                        <div id="googleMap_1" class="google-map" data-zoom="16" data-latitude="60.7023828" data-longitude="-135.0213474" data-mapmarker="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{{ end }}
