{{ define "main" }}
<article class="page">
    <div class="entry-content">

        <div class="container m-t-35">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <div class="heading-block">
                        <h1 class="block-size-1">
                            Your local carpentry partner in Whitehorse.
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container m-t-25">
            <div class="row">
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/trim.jpg" alt="Trim" >
                        </div>
                        <div class="box-content">
                            <h4>Finishing</h4>
                            <p>Interior trim and finishing work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/furniture.jpg" alt="Furniture" >
                        </div>
                        <div class="box-content">
                            <h4>Custom Furniture</h4>
                            <p>Custom furniture for your home or business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/vehicle.jpg" alt="Vehicle" >
                        </div>
                        <div class="box-content">
                            <h4>Vehicle Customizations</h4>
                            <p>Camperizations of any kind of vehicle or trailer.</p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="container m-t-50 m-b-100">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="cta style-2">
                          <h2>
                              Let’s talk!
                          </h2>
                          <div class="btn-container solid">
                              <a href="/contact/" title="GET IN TOUCH">GET IN TOUCH</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </article>
  {{ end }}
