{{ define "main" }}
<article class="page">
    <div class="entry-content">

        <div class="container m-t-35">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <div class="heading-block">
                        <h1 class="block-size-1">
                            Your local carpentry partner in Whitehorse.
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container m-t-25">
            <div class="row">
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/trim.jpg" alt="Trim" >
                        </div>
                        <div class="box-content">
                            <h4>Finishing</h4>
                            <p>Interior trim and finishing work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/furniture.jpg" alt="Furniture" >
                        </div>
                        <div class="box-content">
                            <h4>Custom Furniture</h4>
                            <p>Custom furniture for your home or business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-30">
                    <div class="img-box">
                        <div class="box-thumb">
                            <img src="/images/services/vehicle.jpg" alt="Vehicle" >
                        </div>
                        <div class="box-content">
                            <h4>Vehicle Customizations</h4>
                            <p>Camperizations of any kind of vehicle or trailer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container m-t-35">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <h3>Customer Testimonials</h3>
                </div>
            </div>
        </div>

        <div class="container m-b-35">
            <div class="row">
                <div class="col-sm-12">
                    <div id="testimonials-swiper-slider" class="swiper-container swiper-caption-ribbon" data-slides-per-view="3" data-space-between="30" data-centered-slides="false" data-loop="true" data-effect="slide" data-autoplay="false" data-disable-on-interaction="true" data-pagination-type="bullets" data-tablet-slide-per-view="2" data-tablet-space-between="30" data-mobile-slide-per-view="1" data-mobile-space-between="30">
                        <div class="swiper-wrapper">

                            {{ range where .Site.RegularPages "Section" "testimonial" }}
                                <div class="swiper-slide">
                                    <div class="swiper-slide-content-wrap">
                                        <div class="swiper-slide-item">
                                          <blockquote>&quot;{{.Params.testimonial}}&quot; &dash; <strong>{{.Title}}</strong></blockquote>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container m-t-35">
            <div class="row">
                <div class="col-sm-12 col-xl-9">
                    <h3>Featured client projects</h3>
                </div>
            </div>
        </div>

        <div class="container m-b-75">
            <div class="row">
                <div class="col-sm-12">
                    <div id="portfolio-swiper-slider" class="swiper-container multiple-projects swiper-caption-ribbon" data-slides-per-view="3" data-space-between="30" data-centered-slides="false" data-loop="true" data-effect="slide" data-autoplay-delay="3500" data-disable-on-interaction="true" data-pagination-type="bullets" data-tablet-slide-per-view="2" data-tablet-space-between="30" data-mobile-slide-per-view="1" data-mobile-space-between="30">
                        <div class="swiper-wrapper">

                            {{range  where .Site.RegularPages "Params.categories" "intersect" (slice "featured")}}
                                <div class="swiper-slide">
                                    <div class="swiper-slide-content-wrap">
                                        <div class="swiper-slide-item">
                                            <a class="swiper-caption-wrap" href="{{.URL}}">
                                                <div class="swiper-image-wrap">
                                                    <img width="800" height="1000" alt="" src="/images/{{.URL}}/featured.jpg">
                                                    <div class="swiper-caption-activewrap">
                                                        <div class="swiper-caption-alignCenter">
                                                            <div class="swiper-caption-body">
                                                              <div class="swiper-title">{{.Title}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {{end}}

                        </div>

                        <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>
        </div>


        <div class="container m-t-50 m-b-100">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cta style-2">
                        <h2>
                            Let’s talk!
                        </h2>
                        <div class="btn-container solid">
                            <a href="/contact/" title="GET IN TOUCH">GET IN TOUCH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</article>
{{ end }}
